<!-- Simple Analytics Normal Collect -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript>
  <img 
    src="https://queue.simpleanalyticscdn.com/noscript.gif" 
    alt="" 
    referrerpolicy="no-referrer-when-downgrade" /></noscript>

src="https://scripts.simpleanalyticscdn.com/latest.js"></script>

<!-- Simple Analytics Events Collect -->
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<script
  async
  data-collect="outbound,emails,downloads"
  data-extensions="pdf,csv,docx,xlsx,zip,doc,xls"
  data-use-title="true"
  data-full-urls="false"
  src="https://scripts.simpleanalyticscdn.com/auto-events.js"></script>

